
<div class="modal-content">
<div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Resumen</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body"> 
    //
    <div>
        <div class="mb-3">
            <label>Nombre:</label>
            <div class="col-12">
                <input  class="form-control" >
            </div>
        </div>
        <div class="mb-3">
            <label>Nit:</label>
            <div class="col-12">
                <input  class="form-control" >
            </div>
        </div>
        <div class="mb-3">
            <label>Cantidad de piezas:</label>
            <div class="col-12">
                <input  class="form-control" >
            </div>
        </div>
        <div class="mb-3">
            <label>Precio unitario:</label>
            <div class="col-12">
                <input class="form-control" >
            </div>
        </div>
        <div class="mb-3">
            <label>Total:</label>
            <div class="col-12">
                <input class="form-control" >
            </div>
        </div>
        
    </div>   
//
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-chevron-left" aria-hidden="true"></i> Atras</button>
    <button type="button" class="btn btn-primary">Guardar <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
</div>
</div>
  

