<div>
  
  <div class="modal-body">
    <div> <h1 class="modal-title fs-5" id="exampleModalLabel">Datos personales</h1></div>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <div  >
          <div class="mb-3">
            <input type="text" class="form-control" [ngClass]="{'is-invalid': checkoutForm.controls['nombre'].invalid || checkoutForm.controls['nombre']?.errors?.required}" placeholder="Nombre" formControlName="nombre" >
            <div class="invalid-feedback" *ngIf="checkoutForm.controls['nombre']?.errors?.required || checkoutForm.controls['nombre'].invalid ">Debe llenar el campo</div>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" [ngClass]="{'is-invalid': checkoutForm.controls['apellido'].invalid || checkoutForm.controls['apellido']?.errors?.required}" placeholder="Apellido" formControlName="apellido">
            <div class="invalid-feedback" *ngIf="checkoutForm.controls['apellido']?.errors?.required || checkoutForm.controls['apellido'].invalid " >Debe llenar el campo</div>
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" [ngClass]="{'is-invalid': checkoutForm.controls['nit'].invalid || checkoutForm.controls['nit']?.errors?.required}" placeholder="Nit" formControlName="nit">
            <div class="invalid-feedback" *ngIf="checkoutForm.controls['nit']?.errors?.required || checkoutForm.controls['nit'].invalid" >Debe llenar el campo</div>
          </div>
          <div class="mb-3">
            <select class="form-select " [ngClass]="{'is-invalid': checkoutForm.controls['pais'].invalid || checkoutForm.controls['pais']?.errors?.required}" aria-label="Default select example" formControlName="pais" >
              <option value="">Seleccionar pais de origen</option>
              <option value="1">1111</option>
              <option value="2">Panama</option>
              <option value="3">Chile</option>
            </select>
            <div class="invalid-feedback" *ngIf="checkoutForm.controls['pais']?.errors?.required || checkoutForm.controls['pais'].invalid">Debe seleccionar una opcion</div>
          </div>
          <div class="mb-3">
            <select class="form-select" formControlName="departamento" aria-label="Default select example" [ngClass]="{'is-invalid': checkoutForm.controls['departamento'].invalid || checkoutForm.controls['departamento']?.errors?.required}">
              <option value="">Departamento</option>
              <option value="1">..</option>
            </select>
            <div class="invalid-feedback" *ngIf="checkoutForm.controls['departamento']?.errors?.required || checkoutForm.controls['departamento'].invalid">Debe seleccionar una opcion</div>
          </div>
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" [ngClass]="{'is-invalid': checkoutForm.controls['ciudad'].invalid || checkoutForm.controls['ciudad']?.errors?.required}" formControlName="ciudad">
              <option value="">Ciudad</option>
              <option value="1">..</option>
              <option value="2">...</option>
              <option value="3">...</option>
            </select>
            <div class="invalid-feedback" *ngIf="checkoutForm.controls['ciudad']?.errors?.required || checkoutForm.controls['ciudad'].invalid">Debe seleccionar una opcion</div>
          </div>    
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" [ngClass]="{'is-invalid': checkoutForm.controls['tipoDeDireccion'].invalid || checkoutForm.controls['tipoDeDireccion']?.errors?.required}" formControlName="tipoDeDireccion">
              <option value="">Tipo de direccion </option>
              <option value="1">..</option>
              <option value="2">...</option>
              <option value="3">...</option>
            </select>
            <div class="invalid-feedback" *ngIf="checkoutForm.controls['tipoDeDireccion']?.errors?.required || checkoutForm.controls['tipoDeDireccion'].invalid">Debe seleccionar una opcion</div>
          </div>  
          <div class="mb-3">
            <input type="text" class="form-control" [ngClass]="{'is-invalid': checkoutForm.controls['descripcionDireccion'].invalid || checkoutForm.controls['descripcionDireccion']?.errors?.required}" placeholder="Describe tu direccion" formControlName="descripcionDireccion" >
            <div class="invalid-feedback" *ngIf="checkoutForm.controls['descripcionDireccion']?.errors?.required || checkoutForm.controls['descripcionDireccion'].invalid ">Debe llenar el campo</div>
          </div> 
       </div>
       <div class="modal-footer">
        <button type="submit" class="btn btn-primary"  >Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>
</div>










