<div>
  <div class="modal-body">
    <div> <h1 class="modal-title fs-5" id="exampleModalLabel">Datos personales</h1></div>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
        <div  >
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': submitted && checkoutForm.get('nombre').hasError('required') }" placeholder="Nombre" >
              <div class="invalid-feedback" *ngIf="checkoutForm.get('nombre').hasError('required')">Debe llenar el campo</div>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" [ngClass]="{'is-invalid': submitted && checkoutForm.get('apellido').hasError('required') }" placeholder="Apellido" formControlName="apellido">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('apellido').hasError('required')">Debe llenar el campo</div>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" [ngClass]="{'is-invalid': submitted && checkoutForm.get('nit').hasError('required') }" placeholder="Nit" formControlName="nit">
            <div class="invalid-feedback" *ngIf="checkoutForm.get('nit').hasError('required')" >Debe llenar el campo</div>
          </div>
          <div class="mb-3">
            <select class="form-select" (change)="filtrarDepartamento()" [ngClass]="{'is-invalid': submitted && checkoutForm.get('pais').hasError('required') }" aria-label="Default select example" formControlName="pais" >
              <option value="" >Seleccionar pais de origen</option>
              <option [value]="pais.idPais" *ngFor="let pais of jPaises">{{pais.descripcion}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="checkoutForm.get('pais').hasError('required')" >Debe seleccionar una opcion</div>
          </div>
          <div class="mb-3">
            <select class="form-select" (change)="filtrarCiudad()" formControlName="departamento" aria-label="Default select example" [ngClass]="{'is-invalid': submitted && checkoutForm.get('departamento').hasError('required') }">
              <option value="">Departamento</option>
              <option [value]="departamento.idDepartamento" *ngFor="let departamento of arrayDepartamentos">{{departamento.descripcion}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="checkoutForm.get('departamento').hasError('required')">Debe seleccionar una opcion</div>
          </div>
          <div class="mb-3">
            <select class="form-select"  aria-label="Default select example" [ngClass]="{'is-invalid': submitted && checkoutForm.get('ciudad').hasError('required') }" formControlName="ciudad">
              <option value="">Ciudad</option>
              <option [value]="ciudad.idCiudad" *ngFor="let ciudad of arrayCiudades">{{ciudad.descripcion}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="checkoutForm.get('ciudad').hasError('required')" >Debe seleccionar una opcion</div>
          </div>    
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" [ngClass]="{'is-invalid': submitted && checkoutForm.get('tipoDeDireccion').hasError('required') }" formControlName="tipoDeDireccion">
              <option value="">Tipo de direccion </option>
              <option value="1">Calle</option>
              <option value="2">Carrera</option>
              <option value="3">Diagonal</option>
              <option value="3">Avenida</option>
              <option value="3">Bulevar</option>
              <option value="3">Autopista</option>
              <option value="3">Esquina</option>
              <option value="3">Transversal</option>
            </select>
            <div class="invalid-feedback" *ngIf="checkoutForm.get('tipoDeDireccion').hasError('required')">Debe seleccionar una opcion</div>
          </div>
           <div class="mb-3"> 
            <input type="text" class="form-control" [ngClass]="{'is-invalid': submitted && checkoutForm.get('descripcionDireccion').hasError('required') }" placeholder="Describe tu direccion" formControlName="descripcionDireccion" >
            <div class="invalid-feedback" *ngIf="checkoutForm.get('descripcionDireccion').hasError('required')">Debe llenar el campo</div>
          </div> 
       </div>
       <div class="modal-footer">
        <button type="submit" class="btn btn-primary" >Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
      </div>
    </form>
  </div>
</div>










