<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">Datos personales</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    // form
      <div class="mb-3">
          <div><input type="text" class="form-control mb-3" placeholder="Nombre" id="recipient-name"></div>
          <div><input type="text" class="form-control mb-3" placeholder="Apellido" id="recipient-name"></div>
          <div><input type="number" class="form-control mb-3" placeholder="Nit" id="recipient-name"></div>
          <div>
            <select class="form-select mb-3" aria-label="Default select example" required>
              <option selected>Seleccionar pais de origen</option>
              <option value="1">Colombia</option>
              <option value="2">Panama</option>
              <option value="3">Chile</option>
            </select>
          </div>
          <div>
            <select class="form-select mb-3" aria-label="Default select example" required>
              <option selected>Departamento</option>
              <option value="1">..</option>
              <option value="2">...</option>
              <option value="3">...</option>
            </select>
          </div>
          <div>
            <select class="form-select" aria-label="Default select example" required>
              <option selected>Ciudad</option>
              <option value="1">..</option>
              <option value="2">...</option>
              <option value="3">...</option>
            </select>
          </div>
        </div>   
     //form
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary">Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
  </div>
</div>










