<!-- pieza  -->

<div >
  <div class="modal-body">
    <div><h1 class="modal-title fs-5" id="exampleModalLabel">Piezas</h1></div>
      <form [formGroup]="checkoutFormPiezas" (ngSubmit)="onSubmit(checkoutFormPiezas.value)">
        <div>
            <div class="mb-3">
              <label for="cantidad">Cantidad:</label>
              <div class="col-12">
                <input type="number" class="form-control" [ngClass]="{'is-invalid': submitted && checkoutFormPiezas.get('cantidad').hasError('required') }" formControlName="cantidad">
                <div class="invalid-feedback" *ngIf="checkoutFormPiezas.get('cantidad').hasError('required')">Debe llenar el campo</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="descripcion">Descripcion:</label>
              <div class="col-12">
                <input type="text" class="form-control" [ngClass]="{'is-invalid': submitted && checkoutFormPiezas.get('descripcionPieza').hasError('required') }" formControlName="descripcionPieza">
                <div class="invalid-feedback" *ngIf="checkoutFormPiezas.get('descripcionPieza').hasError('required')">Debe llenar el campo</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="precioUnitario">Precio unitario:</label>
              <div class="col-12">
                <input type="number" class="form-control"  [ngClass]="{'is-invalid': submitted && checkoutFormPiezas.get('precioUnitario').hasError('required') }" formControlName="precioUnitario" >
                <div class="invalid-feedback" *ngIf="checkoutFormPiezas.get('precioUnitario').hasError('required')">Debe llenar el campo</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="total" >Total:</label>
              <div class="col-12">
                <input type="number" class="form-control" formControlName="total">
              </div>
            </div>
        </div>   
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  (click)="retrocederPiezasAPersonas()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Atras</button>
          <button type="submit" class="btn btn-primary">Siguiente <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
      </form>
  </div>
</div>
   
<!-- pieza -->

