<div class="container mt-5">
  <div class="row my-5">
    <div class="col-4"><img src="assets/logo-subocol.webp" alt=""></div>
    <div class="col-6">
      <label class="border-bottom border-warning">PRUEBA TECNICA (DESARROLLADOR FRONT-END)</label>
    </div>
  </div>
  
  <div class="col-12" ><button type="button" class="btn rounded-pill mt-5 mb-3 p-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Nuevo registro</button></div>
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <app-persona></app-persona>
      <!-- <app-piezas></app-piezas> -->
      <!-- <app-resumen></app-resumen> -->
    </div>
  </div>
  
  <div class="card shadow-sm p-2">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Nit</th>
            <th scope="col">Cantidad de Peizas</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Total</th>
            <th scope="col">Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
