
html, body {
     height: 100%; 
     background: transparent;
     color: #0D4D64
    }

body { 
    margin: 0; 
    font-family: Arial,Helvetica,sans-serif; 
    
}

.table{
    color: #0D4D64;
}

.border-warning{
    font-size: 24px;
    padding-top: 10px; 
    font-weight: bold;
}

.rounded-pill{
 color: #fff;
 background: #EEA41E;
}
.rounded-pill:hover{
 background: #0D4D64;
 color: #fff;
}